<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_PageHeadElement"/>
    
    @RenderSection("Styles", required: false)
    @RenderSection("HeadScripts", required: false)
</head>
<body class="loading">
    <partial name="_GoogleTagManagerBodyElement" /> <!--GoogleTagManager*-->
    <!-- Begin page -->
    <div class="wrapper">
        <partial name="_Left-sidebar" /> <!-- Left Sidebar-->
        <!--Start Main Content -->
        <div class="content-page">
            <div class="content">
                <partial name="_Topbar" /> <!--NavBar-->
                <!--PageContent-->
                @RenderBody()
                <partial name="_Footer" /> <!--FooterSection-->
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
    </div>
<!-- END wrapper -->

    <partial name="_Right-sidebar"/>
    <partial name="_ThemeScripts" /> <!--ThemeScripts-->

    @RenderSection("Scripts", required: false)
</body>
</html>
